<!DOCTYPE html>
<html>
<head>
<Style>

h6 {text-align: center;}
img {text-align: center;}
p {text-align: center;}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

</style>
</head>

<body>

<h4>About Me</h4>
<br>
<br>
<img src="assets/me.jpeg" class="card-img-top" alt="Team Member 1" style="width:240px;height:300px;" class="center">
<h6 style="font-family:'Courier New'">The developer.</h6>
<h6 style="font-family:'Courier New'">AM2211012943</h6>
<br>
<br>
<p style="font-family:'Courier New'">Assalamualaikum and hi. My name is Ariff Amirul from Bachelor of IT in Cyber Security.</p>
<p style="font-family:'Courier New'">For this subject which is (SWC4443) Web API.</p>   
<p style="font-family:'Courier New'">I was given a task by my lecturer, Madam Farah Farzana which is building web API Based on Youtube.</p>

</body>
</html>

<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>