<div>
   
    <div class="form-group">
      <h4><label for="exampleInputEmail1" class="form-label mt-4">Search any videos that you want to watch</label></h4>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search videos..." [(ngModel)]="searchQuery" (keyup.enter)="searchVideos()">
     
    </div>
    
   
    <br>
    <img src="assets/pointing1.jpeg" class="card-img-top" alt="Team Member 1" style="width:187px;height:142px;" allign="center">
  </div>
